
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;700&family=Open+Sans:wght@400;700&family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400;500&display=swap');

 
/* ===================== public style ======================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    list-style: none;

 }

 body{
     background-color: #fff;
     /* font-size: 18px; */
 }

 :root{
--firstColorGreen: #009961 ;
--secondColorBlack: #333333 ; 
 }

 /* في الهوفر الترانزشن مش بتشتغل مع الدسبلاي ...  */

/* ===================== start navbar ======================= */


nav{
    box-shadow: rgba(119, 119, 119, 0.45) 0px 16px 20px -20px;
    }
    .navbar{
        /* padding:11px; */
    }
nav .logo_section{
    /* width: 180px;
    height: 40px; */
    /* width: 12%; */
    width: 130px;
    margin-left: 6%;
}
nav .logo_section img{
    width: 100%;
}
.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.navbar-nav .nav-link{
        color: var(--secondColorBlack);
        font-weight: bold;
        /* padding: 18px 0; */
        font-size: 18px;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;

        display: inline-flex;
        justify-content: space-between;
        align-items: center;
}

.navbar-nav .nav-item{
 margin: 0 1%;
 position: relative;

  /* transition:all .4s ease;
 -webkit-transition:all .4s ease;
 -moz-transition:all .4s ease;
 -ms-transition:all .4s ease;
 -o-transition:all .4s ease; */
}

.navbar-nav .nav-item .nav-link{
    padding: 21px 11px;
}
 
.navbar-nav .nav-item .nav-link:hover{
    color: var(--firstColorGreen);
}

.navbar-nav .nav-item::before{
    content: ' [ ';
    position: absolute;
    /* top: -4px;
    left: -8px; */
    top: 18px;
    left: -5px;
    font-size: 20px;
    color: var(--firstColorGreen);
    /* display: inline-block; */
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    opacity: 0;
    visibility: hidden;
}

.navbar-nav .nav-item::after{
    content: ' ] ';
    position: absolute;
    /* top: -4px;
    right: -8px; */
    top: 18px;
    right: -5px;
    font-size: 20px;
    color: var(--firstColorGreen);
    /* display: inline-block; */
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    opacity: 0;
    visibility: hidden;
    
}

.navbar-nav .nav-item:hover::after{
    right: -1px;  
}

.navbar-nav .nav-item:hover::before{
    left: -1px;
} 

.navbar-nav .nav-item:hover::before , .navbar-nav .nav-item:hover::after ,
.navbar-nav .nav-item.active::before , .navbar-nav .nav-item.active::after ,.navbar-nav .nav-item.active .nav-link {
    opacity: 1;
    visibility:visible;
    color: var(--firstColorGreen);
}


/*------- start drop down style -----------*/


.navbar-nav .nav-item .nav-drop-down{
   position: absolute;
   top: 85px;
   left: -33%;
   width: 188px;
   /*height: 0%;
   */background-color: var(--firstColorGreen);
   /*margin: 11%;
   */padding: 11%;
   transition: all 0.5s ease;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   /*visibility: hidden;
   opacity: 0;
   */transform:scaleY(0) ;
   -webkit-transform:scaleY(0) ;
   -moz-transform:scaleY(0) ;
   -ms-transform:scaleY(0) ;
   -o-transform:scaleY(0) ;
   transform-origin: left top;

   border-bottom-left-radius:8px ;
   border-bottom-right-radius: 8px;
}

.navbar-nav .nav-item:hover .nav-drop-down{
    /*visibility: visible;
    opacity: 1;
    *//*height: 100%;
    */transform:scaleY(1) ;
    -webkit-transform:scaleY(1) ;
    -moz-transform:scaleY(1) ;
    -ms-transform:scaleY(1) ;
    -o-transform:scaleY(1) ;
}
  .navbar-nav .nav-item .nav-drop-down .drop-item{
    margin:5% 12%;
}
.navbar-nav .nav-item .nav-drop-down .drop-item .drop-link{
    color: white;
    display: inline-block;
    /* padding: 4%; */
    margin: 6% 1%;
}

/*------------ end drop down style--------- */



/*  start style to botom nav  */

.btn{
    background-color: var(--firstColorGreen);
    color: white;
    margin-right: 6%;
    /*padding:1% 2%;
    */padding: 11px 26px;
    font-weight: bold;
    font-size: 14px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    overflow: hidden;
    position: relative;
    z-index:1;
}

.btn:hover{
    color: var(--firstColorGreen);
}

.btn::before{
    content: '';
    position: absolute;
    background-color: white;
    width: 180px;
    height: 111px;
    top: 0;
    left: 0;
    transform: translate(-127px , 38px) rotate(-44deg);
    -webkit-transform: translate(-127px , 38px) rotate(-44deg);
    -moz-transform: translate(-127px , 38px) rotate(-44deg);
    -ms-transform: translate(-127px , 38px) rotate(-44deg);
    -o-transform: translate(-127px , 38px) rotate(-44deg);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    z-index:-1;
    color: var(--firstColorGreen);
}

.btn:hover:before{
   transform:translate(-7px , -57px) rotate(2deg);
   -webkit-transform:translate(-7px , -57px) rotate(2deg);
   -moz-transform:translate(-7px , -57px) rotate(2deg);
   -ms-transform:translate(-7px , -57px) rotate(2deg);
   -o-transform:translate(-7px , -57px) rotate(2deg);
}

/* end botom nav  */

/* --------  start toggle icone style  ---------- */

.navbar-toggler i{
    color: var(--firstColorGreen);
}

/* -------- end toggle icone style  ---------- */


/* =================================end nav style============================== */


/* =================================start section 1 style ============================== */
























/* =================================end section 1 style ============================== */










/* ================================================================ MEDIA =================================================================== */


@media(max-width:1119px) {

    nav .logo_section{
        width: 150px;
        margin-left: 0%;
    }
    nav .navbar-nav .nav-item{
     margin: 0;
     padding: 0;
     }
     .navbar-nav .nav-link{    
         font-size: 15px;      
       }
       .navbar-nav .nav-item::before{
        top: 18px;
        left: 2px;
        font-size: 17px;
    } 
    .navbar-nav .nav-item::after{ 
        top: 18px;
        right: 2px;
        font-size: 17px;
    }
    .navbar-nav .nav-item:hover::after{
        right: 1px;  
    }
    .navbar-nav .nav-item:hover::before{
        left: 1px;
    } 
    .btn{  
        margin-right: 5%;
        padding: 11px 22px;
        font-size: 12px;
    }
    



}



/* ==================================================================================== */

/* @media(max-width:992px)and (max-width:1086px){
    
    .navbar .navbar-nav .nav-item {
        margin: 2px ;
    }

} */

/* //991 problem vaaaar */

/* ==================================================================================== */
 
@media(max-width:991px){
    
    nav .logo_section{
        width: 130px;
        margin-left: 0%;
    }
    .navbar-nav .nav-item .nav-link{
        margin: 1% 8%;
        padding: 2%;
        /*ونبعدهاعالشمالوعشاننوسطنالايكونالخضرابتاعتالناف*/display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-nav .nav-item{
        border-bottom: rgb(206, 206, 206) 1px solid;
        width: 100%;
    }
    .navbar-nav .nav-item:nth-child(9){
        border-bottom:none;
    }

.navbar-nav .nav-item:hover::before , .navbar-nav .nav-item:hover::after ,
.navbar-nav .nav-item.active::before,.navbar-nav .nav-item.active::after,
.navbar-nav .nav-item::before,.navbar-nav .nav-item::after{
position: unset;
display: none;
/* opacity: 0;
visibility: hidden; */
/* color: unset; */
}

.navbar-nav{
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fafafa;
    width: 40%;
    height: 100% !important;
    display: unset;
    padding: 0px 0px 40px 0px;
    overflow: auto;
}

.navbar-nav .nav-item.click-drop-toggle .nav-drop-down{
    /* display:block; */
    display:unset;
}

.navbar-nav .nav-item .nav-drop-down{
    display: none;
    /* display:unset; */
     position: unset;
     transition:unset;
     transform:unset;
     -webkit-transform:unset;
     -moz-transform:unset;
     -ms-transform:unset;
     -o-transform:unset;
     opacity: 1;
     visibility: visible;
     width: 100%;
     padding: 0%;
     margin: 0;
}

.navbar-nav .nav-item .nav-drop-down .drop-item .drop-link{
    color: var(--secondColorBlack);
    margin: 0;
    padding: 0 9%;
 }

.navbar-nav .close-icon{
    color: white;
    background-color: var(--firstColorGreen);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8%; 
}

.icons-soial{
    margin:6% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.icons-soial .icon-link-social{
    background-color: var(--firstColorGreen);
    width: 36px;
    height: 36px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.icons-soial .icon-link-social i{
     color: white;
     font-size: 17px;
 }

.navbar-nav .nav-item .icon-nav-drop{
    background-color: var(--firstColorGreen);
    width: 32px;
    height: 26px;
    color: white;
    /* عشان نخلي الايكون الخضرا بتاعت الناف جنب الكلمة بتاعت الناف برضو الي هي الهوم والابوت وكدا inlineFlex  */
    display:inline-flex;

    align-items: center;
    justify-content: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


}


/* =============================== */

@media (max-width: 768px) {


        .navbar-nav{
            width: 50%; 
        }

     
    
}



@media (max-width: 576px) {

    .navbar-nav{
        width: 64%; 
    }
    .icons-soial .icon-link-social{
         width: 28px;
        height: 28px;         
    }
    
    .icons-soial .icon-link-social i{
         font-size: 14px;
     }



}





@media (max-width: 332px) {

    .navbar-nav{
        width: 100%; 
    }
    nav .logo_section{
        width: 111px;
    }
    /* .icons-soial .icon-link-social{
        width: 28px;
        height: 28px;     
    }
    .icons-soial .icon-link-social i{
         font-size: 14px;
     } */



}





/* =================================================================end nav style============================== */




/* ============================================================ */












/* ===================== end navbar style ======================= */
